.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
.container{
    max-width: 955px;
    background-color: yellow;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    border: 2px solid black;
}
h1{
    font-size: 30px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}
.message{
    background-color: yellowgreen;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
body{
    height: 100vh;
    background-color: antiquewhite;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    background-color: greenyellow;
}
.btn{
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid black;
    height: 34px;
    color: black;
    background-color: yellow;

}